body {
    font-family: Metal Mania, Helvetica, sans-serif;
    text-align: center;
    background: url('wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
}

#title {
    color: yellow;
    font-size: 3rem;
    margin: auto;
}

#subtext {
    color: yellow;
    font-size: 2rem;
    margin: 20px;
}

#Enter {
    margin: 20px;
}

#question {
    width: 350px;
    height: 35px;
}
#AskBtn {
    width: 80px;
    height: 40px;
}

#ball {
    width: 500px;
    height: 500px; 
}

#ball_area {
    position: relative;
    display: inline-block;

}

#answer {
    position: relative;
    top: -290px;
    margin-bottom: 0px;
}

#answer p {
    color: white;
    font-size: 28px;
}

img {
    display: block;
}

footer {

    background: rgba(255, 0, 0, 0.6);
    margin: 0px 38%;
    border-radius: 10px;
}

#made {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.8rem;
}

#loader {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate( -50%, -50% );
    text-align: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 17rem;
    height: 17rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}